<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dm.rxdemo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activitys.ResAty"/>
        <activity android:name=".activitys.FragmentAty"/>
        <activity android:name=".activitys.ListAty"/>
        <activity android:name=".activitys.BasicGetAty"/>
        <activity android:name=".activitys.JsonGetAty"/>
        <activity android:name=".activitys.GetWithParamAty"/>
        <activity android:name=".activitys.RxJavaBaseAty"/>
    </application>

</manifest>